{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true,
  },
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
  },
  "env": {
    "node": true,
    "commonjs": true
  },
}